@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

.Head-div {
    width: 100%;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.909);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 3px rgb(199, 199, 199);
    position: fixed;
}

.Head-div .Header div h2 {
    font-size: 30px;
    color: #fd5631;
}

.Header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Header ul {

    display: flex;
    min-width: 200px;
    width: 500px;
    justify-content: space-between;
    text-decoration: none;
}

.Header ul li a {
    font-size: 15px;
    color: #454046;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.Header ul li a:hover {

    font-size: 15px;
    color: #fd7e14;
    /* box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(214, 97, 223, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.Header .icon {
    display: none;
    color: gray;
}

.Header-res {
    display: none;
}

.display-hide {
    display: none;
}

.Header .User {
    width: 16%;
    display: flex;
    justify-content: space-around;

}

.Header .User a {
    font-size: 15px;
    color: #454046;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    

}

.Header .User a i {
    color: #fd5631;
}


@media screen and (max-width: 1400px) {
    .Header .User {
        width: 19%;
        display: flex;
        justify-content: space-around;
    
    }
}


@media screen and (max-width: 1100px) {
    .Header .User {
        width: 22%;
        display: flex;
        justify-content: space-around;
    
    }
}

@media screen and (max-width:1000px) {


    

    .Header ul li a {
        display: none;
    }

    .Header ul li a.icon {
        
        display: block;
        font-size: 35px;
    }

    .Header .User {
        margin-right: -55px;
    }

    .Header-res {
        transition: 0.2s;
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        height: auto;
        top: 56px;
        padding: 1rem 2rem;
        right: 0px;
        
    }

    .Header-res ul .Res-li {
        
        margin: 6px;
        text-align: center;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.527);
        padding: 6px;
        
    }

    .Header-res ul li a {
        color: #454046;
        font-family: 'Noto Sans', sans-serif;
        font-size: 24px;
    }


    .Header-res .Social-Media {
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding-left: 15rem; 
    }

    .Header-res .Social-Media li a i{
        font-size: 30px;
        margin-top: 5px;
        
    }
    .Header-res .Social-Media li a .fa-instagram{
        color: white;
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        border-radius: 3px;
        padding-left: 2px;
        padding-right: 2px;
  
    }

    .Header-res .Social-Media li a .fa-facebook{
        color: blue;
        background-color: #fff;
    }

    .Header-res .Social-Media li a .fa-twitter{
        color: #1ca4f4;
        background-color: white;
        
    }

}


@media screen and (max-width:900px) {
    .Header ul li a.icon{
        margin-right: 15px;
    }

    .Header .User {
        width: 35%;
        display: flex;
        justify-content: space-around;
    
    }
}

@media screen and (max-width:769px) {
    .Header .User {
        display: none;
    }
}
