@import"https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap";

@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Sigmar&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.Head-div {
    width: 100%;
    height: 3.7rem;
    background-color: rgba(255, 255, 255, 0.959);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 3px rgb(199, 199, 199);
    position: fixed;
    margin: 2px 0px;
    color: #fff;
    background: linear-gradient(90deg,
            rgba(252, 176, 69, 1) 0%,
            rgba(253, 29, 29, 0.6) 25%,
            rgba(131, 58, 180, 1) 50%,
            rgb(197, 160, 222) 100%), radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 28%);

    background-origin: padding-box, content-box;
    background-repeat: no-repeat;
}

.Head-div .Header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Head-div .Header div h2 {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Foldit', cursive;
    font-family: 'Sigmar', cursive;
}


.Head-div .Header ul {

    display: flex;
    /* min-width: 200px; */
    width: 527px;
    justify-content: space-between;
    text-decoration: none;
}

.Head-div .Header ul .dropdown{
    padding: 21px 16px;
}

.Head-div .Header ul li a {
    font-size: 15px;
    color: #454046;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.Head-div .Header ul li a:hover {

    font-size: 15px;
    color: #ffffff;
}


.Head-div .Header ul .dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    margin: 20px -5px;
    width: auto;
    border-radius: 10px;
    height: auto;
}

.Head-div .Header ul .dropdown .dropdown-content li a{
    float: none;
   color: #454046;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 9px;
    
}

.Head-div .Header ul .dropdown:hover .dropdown-content{
    display: block;
}












.Head-div .Header .icon {
    display: none;
    color: gray;
}

.Head-div .Header-res {
    display: none;
}

.Head-div .display-hide {
    display: none;
}

.Head-div .Header .User {
    display: flex;
    justify-content: space-around;
    padding-right: 20px;

}

.Head-div .Header .User a {
    font-size: 15px;
    color: #454046;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.Head-div .Header .User a i {
    color: #fd5631;
}

.Head-div .Header .User .SignIn {
    margin: 20px 8px;
}

.Head-div .Header .User .SignUp {
    background-color: #fd5631;
    color: white;
    margin: 10px 8px;
    margin-right: -50px;
    padding: 10px 8px;
    border-radius: 20px;


}

.Head-div .Header .User .SignUp i {
    color: white;
}









@media screen and (max-width: 1400px) {
    .Head-div .Header ul {
        margin-left: 2rem;
    }

    .Head-div .Header .User {
        width: 19%;
        display: flex;
        justify-content: space-around;

    }
}


@media screen and (max-width: 1100px) {
    .Head-div .Header .User {
        width: 22%;
        display: flex;
        justify-content: space-around;

    }
}

@media screen and (max-width:1000px) {




    .Head-div .Header ul li a {
        display: none;
    }

    .Head-div .Header ul li a.icon {

        display: block;
        font-size: 35px;
    }

    .Head-div .Header .User {
        margin-right: -5px;
    }

    .Head-div .Header-res {
        transition: 0.2s;
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        height: auto;
        top: 56px;
        padding: 1rem 0.3rem;
        right: 0px;

    }

    .Head-div .Header-res ul .Res-li {

        margin: 6px;
        text-align: left;
        border-radius: 5px;
        border: 1px solid rgba(190, 190, 190, 0.397);
        padding: 10px;

    }

    .Head-div .Header-res ul li a {
        font-weight: bold;
        color: #454056;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
    }


    .Head-div .Header-res .Social-Media {
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding-left: 15rem;
    }

    .Head-div .Header-res .Social-Media li a i {
        font-size: 30px;
        margin-top: 5px;

    }

    .Head-div .Header-res .Social-Media li a .fa-instagram {
        color: white;
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
        border-radius: 3px;
        padding-left: 2px;
        padding-right: 2px;

    }

    .Head-div .Header-res .Social-Media li a .fa-facebook {
        color: blue;
        background-color: #fff;
    }

    .Head-div .Header-res .Social-Media li a .fa-twitter {
        color: #1ca4f4;
        background-color: white;

    }

}


@media screen and (max-width:900px) {
    .Head-div .Header ul li a.icon {
        margin-right: 15px;
    }

    .Head-div .Header .User {
        width: 35%;
        display: flex;
        justify-content: space-around;

    }
}

@media screen and (max-width:769px) {
    .Head-div .Header .User {
        display: none;
    }
}

