.Main-div{
    padding-top: 2.5rem;
    background-color: black;
}

.Main-div h1{
    text-align: center;
    font-size: 5rem;
    background: linear-gradient(
        to right,
        #f09433 10%,
        #764ada 20%,
        #7953cd 30%,
        #dc2743 40%,
        #bc1888 50%,
        #e6683c 60%,
        #00affa 70%,
        #0190cd 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 300% auto;
    animation: textShine 5s ease-in-out infinite alternate;

    
}

.Main-div h2{
    text-align: center;
    background: linear-gradient(
        to right,
        #f09433 10%,
        #764ada 20%,
        #7953cd 30%,
        #dc2743 40%,
        #bc1888 50%,
        #e6683c 60%,
        #00affa 70%,
        #0190cd 80%

        
        
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


@media screen and (max-width:1000px) {
    

    

.Main-div h1{
    padding-top: 10px;
    font-size: 3.5rem;
    background: linear-gradient(
        to right,
        #f09433 10%,
        #764ada 20%,
        #7953cd 30%,
        #dc2743 40%,
        #bc1888 50%,
        #e6683c 60%,
        #00affa 70%,
        #0190cd 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 300% auto;
    animation: textShine 5s ease-in-out infinite alternate;

    
}

.Main-div h2{
    background: linear-gradient(
        to right,
        #f09433 10%,
        #764ada 20%,
        #7953cd 30%,
        #dc2743 40%,
        #bc1888 50%,
        #e6683c 60%,
        #00affa 70%,
        #0190cd 80%

        
        
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


}